samples/
.vscode/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
figures/*
!figures/.gitkeep
measurements/*
!measurements/.gitkeep
report/*
!report/main.tex
!report/main.pdf
HuffmanProject
binary
plot-remote.sh